{% extends 'yumi.jinja2' %}
{% set fastboot_serial_number = '1f0fa209dab3daf3' %}
{% set adb_serial_number = fastboot_serial_number %}
{% set device_info = [{'board_id': fastboot_serial_number, 'usb_vendor_id': '274c', 'usb_product_id': '0201'}, {'board_id': fastboot_serial_number, 'usb_vendor_id': '0525', 'usb_product_id': 'a4a5'}] %}
{% set static_info = [{'board_id': fastboot_serial_number, 'usb_vendor_id': '274c', 'usb_product_id': '0201'}] %}
